.navegador{
    background-color:fuchsia;
    display: flex;
}
.navegador .linksNav:hover{
    background-color: #1d0944;
}
.navegador .linksNav{
    color: white;
    padding: 8px;
    display: block;
    text-decoration: none;
}