.navegador{
    background-color: aqua;
    display: flex;
}
.navegador .linksNav:hover{
    background-color: rgb(6, 202, 202);
}
.navegador .linksNav{
    color: black;
    padding: 8px;
    display: block;
    text-decoration: none;
}